# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

- List popular languages for Data Science
- List commonly used libraries used by data scientists
- Examples of arithmetic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. TensorFlow
3. NumPy
4. Matplotlib

|Data Science Tools|
|------------------|
|Pandas|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author : Upeksha Siriwardana